* {
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

:root {
  --fs-title: 2.5rem;
  --fs-msg: 1.5rem;
}

body {
  margin: 0;
  font-family: "Happy Monkey", cursive;
  background-color: #dedede;
}

/* Typography */

.main-title {
  font-size: var(--fs-title);
}

.message {
  font-size: var(--fs-msg);
}

.age {
  font-size: 1.5rem;
}

.info-text,
.birth-year {
  font-size: 1.1rem;
}

/* Layout  */

.container {
  width: 50%;
  margin-inline: auto;
  text-align: center;
}

.person-img {
  border-radius: 50%;
  border: 2px solid lime;
  width: 30%;
  margin: 0 auto;
}

.present-section {
  margin-bottom: 3em;
}

.present-box{
    width: 40%;
    margin: 0 auto;
}

/* pseudo */